<section id="apresentacao">
    <img src="/imagens/foto.png" alt="Jaqueline Cristóvão">
    <div>
        <h4>Jaqueline Juliana Gonçalves Cristóvão</h4>
        OAB/SC 66.761<br>
        jaquecristovao.adv@gmail.com<br>
        <br>
        Agende seu atendimento presencial ou por video conferência no link abaixo<br>
        <br>
        <a href="https://wa.me/5548999979969?text=Ol%C3%A1%20Dra.%20Jaqueline!%20Preciso%20de%20aux%C3%ADlio%20jur%C3%ADdico.%20Poderia%20me%20ajudar?" target="_blank" class="link">Entre em Contato!</a>
    </div>
</section>
<section id="servicos">
    <h3>Serviços</h3>
    <div>
        <ul>
            <li>Aposentadoria</li>
            <li>Revisão de Benefício</li>
            <li>Benefício Previdenciário</li>
        </ul>
        <ul>
            <li>Benefício Assistencial</li>
            <li>Pensão por Morte</li>
            <li>Benefícios Cancelados, Negados ou Suspensos</li>
        </ul>
    </div>
</section>
<section id="ultimosposts">
    <h3>Últimos Posts</h3>
    <div>
        {{#each dados}}
            <div>
                <h4>{{this.titulo}}</h4>
                <a href='/{{this.caminho}}'><img src="posts/{{this.imagem}}" alt="{{this.titulo}}"></a>
                <font color="#aaa">Atualizado em: {{this.dia}}</font>
            </div>
        {{/each}}
    </div>
</section>